<div class="col-md-6 offset-md-3 offset-md-3">
    <h3 class="text-center">Update Employee Details</h3>
    <hr />
    <div class="card-body">
      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <label> First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            [ngModel] = 'employeeDetails.firstName'
           #firstName = ngModel
            name="firstName"
          />
        </div>

        <div class="form-group">
          <label> Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            [ngModel] = 'employeeDetails.lastName' 
           #lastName = ngModel
            name="lastName"
          />
        </div>

        <div class="form-group">
          <label> Email Id</label>
          <input
            type="text"
            class="form-control"
            id="emailId"
            [ngModel] = 'employeeDetails.emailId'
            #emailId = ngModel
            name="emailId"
          />
        </div>
        <br />
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
</div>
